
@import url('https://fonts.googleapis.com/css2?family=Source+Serif+4:ital,wght@0,600;1,600&family=Inter:wght@300;400;700&display=swap');

:root {
  --color-dark: #101010; /* Negro profundo - Fondo */
  --color-charcoal: #2C2C2C; /* Gris carbón - Tarjetas */
  --color-amber: #FFC300; /* Amarillo ámbar oscuro - Acento */
  --color-text: #FFFFFF; /* Blanco puro - Texto */
}

body {
  font-family: 'Inter', sans-serif;
  background-color: var(--color-dark);
  color: var(--color-text);
}